@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Playfair+Display:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
/* this is the stylesheet 
font-family: 'Noto Sans', sans-serif;
font-family: 'Playfair Display', serif;

*/
:root{
    --mybrandcolor: #096E38;
    --mybrandcolordark:#054020;
}
*{
   font-family: 'Noto Sans', sans-serif; 
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color:var(--mybrandcolor);
    
}
h5 {
      color:var(--mybrandcolordark) !important;
  
}
.navbar-brand span {
       font-family: 'Playfair Display', serif;
    font-weight: 600;
    color:var(--mybrandcolor);
    
}
p.card-text{
    color:var(--mybrandcolor);
}
.myplaceholder {
background: #eee;
height:33vh;
    background: url(../images/HeavyMetalBG.jpg);
    background-size: cover;
    background-position: center;
    color:white;

    
}
p.my-caption {
    bottom:0;
    margin-top:0;
    margin-bottom:0;
}
nav.bg-light {
    background: #fff !important;
}

a.navbar-brand img {
    width:75px;
    height:auto;
    }

a.active {font-weight: bold}

.teaserbox {
    background: rgba(0, 0, 0, .3);
    text-align: center;
    padding: 2rem;
    
}
.teaserbox h1 {
    color:white;
    text-shadow: 3px 3px 3px #333;
}
